h2 {
  font-size: 1.4em;
  font-weight: bold;
}
.edition-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.edition-form--field {
    width: 33%;
    margin-bottom: 25px;
    padding: 0 5px;
}

.edition-form--field-textarea {
    width: 100%;
}