<main class="container-fluid h-100">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <mat-card class="form justify-content-center align-items-center">
            <mat-progress-bar mode="indeterminate" [hidden]="!(isLoading$ | async)"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate" [hidden]="!(error$ | async)"></mat-progress-bar>
            <form id="form" [formGroup]="loginForm">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="email" type="email">
                    <!-- <mat-error *ngIf="form.username.errors?.required">
                        Ingresar el Usuario
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <!-- <mat-error *ngIf="form.password.errors?.required">
                        Ingresar la Contraseña
                    </mat-error> -->
                </mat-form-field>
                <button [disabled]="loginForm.invalid" form="form" (click)="onSubmit()" mat-raised-button
                    color="primary" type="submit" class="w-100">INGRESAR
                </button>
            </form>
        </mat-card>

    </div>
</main>